<div class="bg-gray-100 rounded flex shadow h-full justify-between">
    <img class="rounded-l object-cover" src="{{ image.path || '' }}" alt="image">
    <div class="flex flex-col p-5 w-full">
        <p class=" text-green-700">{{ image.description || '' }}</p>
        <div class="text-right mt-2">
            <p class="inline-block mr-3">{{ image.likes ?? 0 }} <i class="far fa-thumbs-up"></i></p>
            <button class="px-2 py-1 mr-4 bg-green-800 text-white rounded" (click)="incrementLikes()">like</button>
            <button class="px-2 py-1 bg-green-800 text-white rounded">more +</button>
        </div>
    </div>
</div>

